* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: #000;
    height: 46px;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    min-width: 160px;
    top: 100%;
    left: 0;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: #000;
    padding:  12px;
    line-height: 12px;
}

#nav, .subnav {
    list-style-type: none;
}

#slider {
    /* background-color: #333; */
    height: 700px;
}

#content {

}

#footer {

}
