/* Reset CSS */
/* 1 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 4 */
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 2 */
#header {
    height: 46px;
    background-color: #000;
}

/* 12 */
#nav, .subnav {
    list-style-type: none;
}

/* 11 */
#nav > li {
    display: inline-block;
}

/* 6 */
#nav li {
    position: relative;
}

/* 8 */
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

/* 3 */
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

/* 5 */
#nav > li:hover > a,
#nav .subnav li:hover {
    background-color: #ccc;
    color: #000;
}

/* 13 */
#nav li:hover .subnav {
    display: block;
}

/* 4 */
#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* 9 */
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 12px;
}

/* 7 */
#slider {
    height: 800px;
    background-color: tomato;
}

#content {

}

#footer {

}
