
/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Định nghĩa kiểu chữ cho toản bộ là kiểu chữ không chân */
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Begin CSS header */
#header {
    height: 46px;
    background-color: #000;
}

/* Các thẻ li là con trực tiếp của nav thì có thuộc tính (inline-block) */
#nav > li {
    display: inline-block;
}

/* Thuộc tính position cho thẻ cha */
#nav li {
    position: relative;
}

/* Các thẻ a là con trucwj tiếp của li và con trực tiếp cả nav thì có chữ màu
trắng và được viết hoa chữ cái */
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

/* Các thẻ ở đây */
#nav li a {
    /* Không có gạch chân */
    text-decoration: none;
    /* Để cân giữa trên và dưới chữ */
    line-height: 46px;
    /* Tạo khoảng cách trái và phải */
    padding: 0 24px;
    /* Để khi hover thì được cả block chứ không phải chỉ mỗi chữ */
    display: inline-block;
}

/* Khi hover vaod thẻ li của subnav thì sẽ hiển thị hộp */
#nav li:hover .subnav {
    display: block;
}

/* Khi hover vào thì sẽ hiển thị các đặc tính này */
#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

/* Để bỏ dấu chấm đầu đong trong div subnav */
#nav, .subnav {
    list-style-type: none;
}

/* Các đặc tính của div subnav */
#nav .subnav {
    /* Không hiện luôn mà phải hover vào thì mới hiện */
    display: none;
    /* Nó là thẻ con của thẻ cha nav li ở trên */
    position: absolute;
    /* Phông màu trắng */
    background-color: #fff;
    /* Thuộc tính tạo bóng đổ xung quanh */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    /* Chiểu ngang nhỏ nhất là 160px */
    min-width: 160px;
    /* Đểt nó dính sát vảo header khi hiện lên */
    top: 100%;
    /* bên trái thì bằng 0 so với thẻ More */
    left: 0;
}

/* Các thuộc tính của thẻ a trong subnav */
#nav .subnav a {
    color: #000;
    padding:  12px;
    line-height: 12px;
}
/* End CSS header */

/* Begin CSS slider */
#slider {
    height: 500px;
    /* background-color: #333; */
}

#content {

}

#footer {

}
